<footer class="bg-dark text-center p-4">
  <p class="h4">Holaa,me llamo Ian,soy un chaval de 15 años al que le apasiona el mundo de la informática y la música.Espero en un futuro poder vivir de lo que me apasiona,la programación.Y,a decir verdad,este ha sido y será uno de los proyectos más importantes que haré.Estoy muy orgulloso de este trabajo, ¡¡y espero seguir haciendo más páginas y mejores!!</p>
  <br>
  <p class="h4">¡¡Gracias por pasarte por mi página!!<33 </p>
</footer>
